.btn {
    padding: 15px 20px;
    text-align: center;
    font-family: $font-primary;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &-black {
        background-color: $black;
        color: $color-primary;
    }

    &-black:hover {
        background-color: $color-primary;
        color: $black;
    }

    &-white {
        background-color: $color-primary;
        color: $black;
    }

    &-white:hover {
        background-color: $black;
        color: $color-primary;
    }
}

input {
    border: 1px solid $black;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    position: relative;
    display: inline-block;

    input[type="text"] {
        padding-right: 30px;
        /* Adjust this value based on the SVG size */
        box-sizing: border-box;
    }

    svg {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        pointer-events: none;
    }
}

.title-big {
    * {
        @include fluid-size(35px, 60px, 1200px, 1920px);
        font-family: $font-primary;
    }
}

.title-medium {
    * {
        font-size: 40px;
        font-family: $font-primary;
    }
}

.title-small {
    * {
        font-size: 30px;
        font-family: $font-primary;
    }
}

section.rassurance {
    .listing {
        display: flex;
        justify-content: center;
        .directeur {
            display: flex;
            align-items: center;
            padding-right: 40px;
            gap: 10px;
            picture {
                width: 45px;
                height: 45px;
            }
        }
        .directeur,.audit,.experience,.prestataire {
            padding: 0 40px;
            div {
                display: flex;
                flex-direction: column;
                align-items: end;
            }
            span {
                @include fluid-size(26px, 36px, 1200px, 1920px);
                font-weight: 700;
            }
            p {
                color: #766D6D;
                font-weight: 700;
                @include fluid-size(21px, 24px, 1200px, 1920px);
            }
        }
        .audit {
             border-left: 2px solid $black;
             border-right: 2px solid $black;
        }
        .experience {
            border-left: 2px solid $black;
        }
    }
}