.btn {
    padding: 10px 20px;
    text-align: center;
    font-family: $font-primary;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &-black {
        background-color: $black;
        color: $color-primary;
    }

    &-black:hover {
        background-color: $color-primary;
        color: $black;
    }
}

input {
    border: 1px solid $black;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    position: relative;
    display: inline-block;

    input[type="text"] {
        padding-right: 30px; /* Adjust this value based on the SVG size */
        box-sizing: border-box;
    }

    svg {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        pointer-events: none; 
    }
}

.title-big {
    @include fluid-size(35px, 60px, 1200px, 1920px);
    font-family: $font-primary;
}

.title-medium {
    font-size: 40px;
    font-family: $font-primary;
}

.title-small {
    font-size: 32px;
    font-family: $font-primary;
}