.site-header {
    background: linear-gradient(to bottom, white, transparent);
    // position: sticky;
    position: absolute;
    width: 100%;
    top: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
    }
}

.site-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-secondary;
    text-decoration: none;

    img {
        width: 100px;
    }
}

.site-nav {
    ul {
        display: flex;
        list-style: none;
        gap: 3rem;
        background: white;
        transition: all 0.5s ease;
    }


    .dropdown::before {
        content: "";
        position: absolute;
        right: -10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top-color: #000; // Replace with the actual color for the arrow
        background: white;
        transform: translateY(-50%);
        pointer-events: none;

        // top: 55%;
        rotate: 180deg;
        transition: all 0.3s;
    }

    .dropdown:hover::before {
        top: 55%;
        rotate: 0deg;
    }



    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        // margin-top: 1rem;
        left: 0;
        display: none;
    }

    ul li:hover>ul,
    ul li ul:hover {
        visibility: visible;
        padding: 20px;
        opacity: 1;
        flex-direction: column;
        gap: 10px;
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

    li {
        position: relative;
        padding: 0 10px;
    }

    a {
        display: block;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        transition: color 0.3s;
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: $color-third;
            transition: opacity 300ms, transform 300ms;
            opacity: 1;
            transform: translate3d(-100%, 0, 0);
        }

        &:hover::after,
        &:focus::after {
            transform: translate3d(0, 0, 0);
        }
    }
}