main {
    section {
        margin-bottom: 100px;

        @include min(xl) {
            margin-bottom: 150px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &.has-bg {
            background: $color-secondary;
        }
    }
}