* {
    box-sizing:                  border-box;
    -moz-font-feature-settings:  'liga' on;
    -webkit-font-smoothing:      antialiased;
    -moz-osx-font-smoothing:     grayscale;
    margin:                      0;
    padding:                     0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-rendering:              optimizeLegibility;
}

*, ::after, ::before {
    box-sizing: border-box;
}

[data-scroll-container] {
    overflow: hidden; /* Ensure the container hides overflowing content */
}

.paralax img {
    width: 110%;
    height: 110%;
    display: block;
}

body {
    color:       $black;
    font-family: $font-secondary;
    font-size:   1em;

    //Specifiy header height
    //for view's padding if needed
    /*--topbar-height: 80px;
	@include min(md){
		--topbar-height: 94px;
	}
	@include min(xl){
		--topbar-height: 130px;
	}
	@include min(xxl){
		--topbar-height: 149px;
	}*/
}

/*.view{
    padding-top: var(--topbar-height);
}*/

::selection {
    background-color: $color-primary;
    color:            white;
}

ul {
    list-style: none;
    margin:     0;
    padding:    0;
}

p,
span,
a,
li {
    color:       $black;
    font-size:   1rem;
    line-height: 1.5em;
}

a {
    color:           $black;
    text-decoration: none;
}

.img-wrap{
    display: flex;
    overflow: hidden;
    position: relative;
    img {
        width: 100%;
        height: 100%;
    }
}

h1,h2,h3,h4,h5 {
    font-family: $font-primary;
}