/*@font-face {
    font-display: swap;
    font-family: 'FontName';
    font-style:   normal;
    font-weight:  500;
    src: url('#{$path-fonts}/FontName-Medium.woff') format('woff2');
    src: url('#{$path-fonts}/FontName-Medium.eot') format('embedded-opentype'),
         url('#{$path-fonts}/FontName-Medium.woff') format('woff'),
         url('#{$path-fonts}/FontName-Medium.woff2') format('woff2'),
         url('#{$path-fonts}/FontName-Medium.ttf') format('truetype'),
         url('#{$path-fonts}/FontName-Medium.svg') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'FontName';
    font-style:   normal;
    font-weight:  800;
    src: url('#{$path-fonts}/FontName-ExtraBold.woff2');
    src: url('#{$path-fonts}/FontName-ExtraBold.eot') format('embedded-opentype'),
         url('#{$path-fonts}/FontName-ExtraBold.woff') format('woff'),
         url('#{$path-fonts}/FontName-ExtraBold.woff2'),
         url('#{$path-fonts}/FontName-ExtraBold.ttf') format('truetype'),
         url('#{$path-fonts}/FontName-ExtraBold.svg') format('svg');
}*/