section.gammes {
    margin-top: 175px;
}

section.content {
    padding-bottom: 100px;
    h2,h3,h1,p {
        margin-bottom: 40px;
    }
    .action {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}