section.single-offre {
    padding-top: 175px;

    .top-content {
        display: flex;
        justify-content: center;

        .left {
            width: 35%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            gap: 20px;

            .btn {
                align-self: center;
            }
        }

        .right {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        li {
            display: flex;
            font-size: 24px;
            align-items: center;
            gap: 10px;

            svg {
                height: 25px;
            }
        }
    }

    .tabs {
        .container_tabs {
            width: 100%;
            font-size: 0;
            box-shadow: 0 0 100px RGBa(0, 0, 0, 0.5);
            border-radius: 3px;
            overflow: hidden;
            position: relative;

            input {
                display: none;

                &:checked+label {
                    background: #eee;
                }

                @for $i from 1 through 4 {
                    &#tab#{$i}:checked {
                        ~.line {
                            left: #{($i - 1) * 25%};
                        }

                        ~.content-container #c#{$i} {
                            opacity: 1;
                        }
                    }
                }
            }

            label {
                display: inline-block;
                font-size: 16px;
                height: 36px;
                line-height: 36px;
                width: 25%;
                text-align: center;
                background: #f4f4f4;
                color: #555;
                position: relative;
                transition: 0.25s background ease;
                cursor: pointer;

                &::after {
                    content: "";
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    display: block;
                    background: #ccc;
                    bottom: 0;
                    opacity: 0;
                    left: 0;
                    transition: 0.25s ease;
                }

                &:hover::after {
                    opacity: 1;
                }
            }

            .line {
                position: absolute;
                height: 2px;
                background: #1E88E5;
                width: 25%;
                top: 34px;
                left: 0;
                transition: 0.25s ease;
            }

            .content-container {
                background: #eee;
                position: relative;
                height: 100px;
                font-size: 16px;

                .content {
                    position: absolute;
                    padding: 10px;
                    width: 100%;
                    top: 0;
                    opacity: 0;
                    transition: 0.25s ease;
                    color: #333;

                    h3 {
                        font-weight: 200;
                        margin: 10px 0;
                    }

                    p {
                        margin: 10px 0;
                    }

                    p,
                    i {
                        font-size: 13px;
                    }
                }
            }
        }
    }
}