section.single-offre {
    padding-top: 175px;

    .top-content {
        display: flex;
        justify-content: center;

        .left {
            width: 35%;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            gap: 20px;

            .btn {
                align-self: center;
            }
        }

        .right {
            width: 35%;
            display: flex;
            flex-direction: column;
            gap: 20px;

            picture,
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        li {
            display: flex;
            font-size: 24px;
            align-items: center;
            gap: 10px;

            svg {
                height: 25px;
            }
        }
    }

    .tabs {
        margin: 100px auto;
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        background-color: $light;
        max-width: 80%;
        // margin: 0 auto;

        input[type="radio"] {
            display: none;
        }

        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }

        li {
            flex: 1;
            text-align: center;
        }

        label {
            display: block;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .slider {
            position: relative;
            width: 100%;
            height: 2px;
            background: #ddd;
            margin-top: 10px;
        }

        .indicator {
            position: absolute;
            width: 33.33%;
            height: 100%;
            background: #000;
            transition: all 0.3s ease;
        }

        .content {
            margin-top: 30px;

            div {
                display: none;
                animation: fadeIn 0.5s;
            }
        }

        // input[type="radio"]:checked+ul label {
        //     color: #000;
        //     font-weight: bold;
        // }

        #tab1:checked~.slider .indicator {
            left: 0;
        }

        #tab2:checked~.slider .indicator {
            left: 33.33%;
        }

        #tab3:checked~.slider .indicator {
            left: 66.66%;
        }

        #tab1:checked~.content div:nth-of-type(1) {
            display: block;
        }

        #tab2:checked~.content div:nth-of-type(2) {
            display: block;
        }

        #tab3:checked~.content div:nth-of-type(3) {
            display: block;
        }
    }

    .tabs~.rassurance {
        margin-bottom: 100px;
    }

    .read-more-section {
        margin: 100px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;

        h3 {
            margin-bottom: 15px;
        }

        .read-more-text {
            overflow: hidden;
            font-size: 1.1em;
            line-height: 1.5em;
            max-height: 6em; // 4 lignes
            transition: max-height 0.3s ease;
            position: relative;
            margin-bottom: 10px;
        }

        #read-more-check {
            display: none;
        }

        .read-more-button {
            display: inline-block;
            margin-top: 10px;
            cursor: pointer;

            &::after {
                content: 'Lire plus';
            }
        }

        #read-more-check:checked {
            ~.read-more-text {
                max-height: 1000px; // Une valeur suffisamment grande
            }

            ~.read-more-button::after {
                content: 'Voir moins';
            }
        }

        .read-more-text::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: linear-gradient(transparent 3em, white);
        }

        #read-more-check:checked~.read-more-text::before {
            display: none;
        }

    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}