<section class="ly abonnements">
    <div class="container">
        <div class="intro">
            <a href="#" class="btn btn-black">Abonnements</a>
            <div class="title-small">
                <p>Choisissez le satellite qui vous convient le mieux</p>
            </div>
            <p>Découvrez nos offres adaptées à chaque besoin pour accompagner la croissance de votre entreprise.</p>
        </div>
        <div class="listing-abonnements">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="content swiper-slide">
                        {% include "img_webp.twig" with {
                            url: site.theme.path ~ '/images/about.png', 
                        } %}
                        <div class="text-content">
                        <h3>Photography</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
                            culpa debitis officia expedita unde?</p>
                        <button class="btn">Read more</button>
                        </div>
                    </div>
                    <div class="content swiper-slide">
                        {% include "img_webp.twig" with {
                            url: site.theme.path ~ '/images/about.png', 
                        } %}
                        <div class="text-content">
                        <h3>Photography</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
                            culpa debitis officia expedita unde?</p>
                        <button class="btn">Read more</button>
                        </div>
                    </div>
                    <div class="content swiper-slide">
                        {% include "img_webp.twig" with {
                            url: site.theme.path ~ '/images/about.png', 
                        } %}
                        <div class="text-content">
                        <h3>Photography</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
                            culpa debitis officia expedita unde?</p>
                        <button class="btn">Read more</button>
                        </div>
                    </div>
                    <div class="content swiper-slide">
                        {% include "img_webp.twig" with {
                            url: site.theme.path ~ '/images/about.png', 
                        } %}
                        <div class="text-content">
                        <h3>Photography</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
                            culpa debitis officia expedita unde?</p>
                        <button class="btn">Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>