<section class="ly about">
    <div class="container grid">
        <div class="left s-1">
            {% include "img_webp.twig" with {
                url: site.theme.path ~ '/images/about.png', 
            } %}
        </div>
        <div class="right">
            <div class="title-small">
                <p>Notre mission : répondre aux défis des Start-ups et PME</p>
            </div>
            <div class="content">
                <p><strong>La problématique</strong></p>
                <br>
                <p>Avec la diminution des subventions de l'État pour la formation en alternance, les start-ups et PME font face à des défis croissants. Manque de ressources, soutien insuffisant et délais entre le besoin en compétences et leur acquisition par les apprentis freinent leur développement</p>
                <br>
                <p><strong>Notre réponse</strong></p>
                <br>
                <p>  Avec la diminution des subventions de l'État pour la formation en alternance, les start-ups et PME font face à des défis croissants. Manque de ressources, soutien insuffisant et délais entre le besoin en compétences et leur acquisition par les apprentis freinent leur développement</p>
            </div>
            <a href="" class="btn btn-black">Découvrir notre univers</a>
           
        </div>  
    </div>
</section>