<section class="ly about">
    <div class="container grid">
        <div class="left s-1">
            {% include "img_webp.twig" with {
                url: about.image.url, 
                para : 'testos'
            } %}
        </div>
        <div class="right">
            <div class="title-small">
                {{about.title}}
            </div>
            <div class="content">
               {{about.content}}
            </div>
            <a href="{{about.bouton.url}}" class="btn btn-black">{{about.bouton.title}}</a>
           
        </div>  
    </div>
</section>