<section class="ly banner">
	<div class="grid_pattern">
		{% include "img_webp.twig" with {
			url: site.theme.path ~ '/images/grid_pattern.svg', 
		} %}
	</div>
	<div class="container grid">
		<div class="w-6 left">
			<div class="left-content">
				<div class="text">
					<div class="title-big">
						<h1>Bienvenue chez Performance Galaxy</h1>
					</div>
					<p>Boostez votre entreprise avec des solutions innovantes</p>
				</div>
				<div class="buttons">
					<a href="#" class="btn btn-black">Nos services</a>
					<a href="#" class="btn btn-white">Contact</a>
				</div>
			</div>
		</div>
		<div class="w-6 right">
			<div class="right-content w-3">

				<p class="text">
					Moi c’est Pierrick Geslain et je vous apportes mes satellites pour vos besoins.
				</p>
				{# {% include "img_webp.twig" with {
																																				                                                url: site.theme.path ~ '/images/talking_arrow.svg',
																																				                                            } %} #}
				{% include "img_webp.twig" with {
                                                url: site.theme.path ~ '/images/pierrick_geslin.png',
                                                class: 'photo'
                                            } %}
			</div>
		</div>
	</div>


</section>
