 <section class="ly"> 
            <div class="container grid">
                <div class="w-6">
                    <h1>Bienvenue chez Performance Galaxy</h1>
                    <p>Notre agence web vous accompagne dans la création de votre site internet, de votre application mobile et de votre stratégie digitale.</p>
                    <div class="buttons">
                        <a href="#" class="btn btn-black">Nos services</a>
                        <a href="#" class="btn btn-white">Contact</a>
                    </div>
                </div>
                <div class="w-6">50%</div>
            </div>
        </section>  