<section class="ly contact">
	<div class="container">

		<span class="badge">
			<strong>Actualités</strong>
		</span>
		<div class="title-small">
			<p>Restez informé des dernières nouvelles et des événements chez Performance Galaxy</p>
		</div>


		<form action="">
			<div class="left">
				<p class="title-left">Contactez-nous</p>
				{# <input type="text" placeholder="Nom"> #}
				<div class="form__container">
					<div class="form__group field">
						<input type="text" class="form__field" placeholder="Prénom" name="prenom" id='prenom' required/>
						<label for="prenom" class="form__label">Prénom</label>
					</div>
					<div class="form__group field">
						<input type="text" class="form__field" placeholder="Nom" name="nom" id='nom' required/>
						<label for="nom" class="form__label">Nom</label>
					</div>
					<div class="form__group field">
						<input type="text" class="form__field" placeholder="Email" name="email" id='email' required/>
						<label for="email" class="form__label">Email</label>
					</div>
					<div
						class="form__group field">
						{# <input type="textarea" class="form__field" placeholder="Name" name="name" id='name' required/>
																																																																																																																																																																																																																																																<label for="name" class="form__label">Name</label> #}
						<select class="form__field" name="objet" id="objet">
							<option value="0">Demande d'informations</option>
							<option value="1">Candidature sponttanée</option>
							<option value="2">Demande de devis</option>
							<option value="3">Demande de partenariat</option>
						</select>
					</div>
					<div class="form__group field">
						<textarea class="form__field" placeholder="Message" name="message" id='message' required></textarea>
						<label for="message" class="form__label">Message</label>
					</div>
				</div>
				<div class="check">
					<input type="checkbox">
					<span>J'aimerais reçevoir la newsletter.</span>
				</div>
				<button class="btn btn-black">
					Envoyer</button>
			</div>
		</form>
	</div>
</section>
