<section class="ly news">
	<div class="container">
		<div class="title-small">
			<p>Restez informé des dernières nouvelles et des événements chez Performance Galaxy</p>
		</div>
		<div class="news-grid wrapper">

			<div class="card a">
				<div class="content">
					<div class="text">
						<h3 tabindex="0">Lancement de la plateforme</h3>
						<p>Découvrez comment notre nouvelle plateforme peut aider les entreprises à trouver les talents dont elles ont besoin.</p>
					</div>
					<div class="info">
						<p>12/12/2021</p>
						{# <a href="#" class="btn btn-black">En savoir plus</a> #}
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
						</svg>

					</div>
				</div>
			</div>
			<div class="card b">
				<div class="content">
					<div class="text">
						<h3 tabindex="0">Lancement de la plateforme</h3>
						<p>Découvrez comment notre nouvelle plateforme peut aider les entreprises à trouver les talents dont elles ont besoin.</p>
					</div>
					<div class="info">
						<p>12/12/2021</p>
						{# <a href="#" class="btn btn-black">En savoir plus</a> #}
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
						</svg>

					</div>
				</div>
			</div>
			<div class="card c">
				<div class="content">
					<div class="text">
						<h3 tabindex="0">Lancement de la plateforme</h3>
						<p>Découvrez comment notre nouvelle plateforme peut aider les entreprises à trouver les talents dont elles ont besoin.</p>
					</div>
					<div class="info">
						<p>12/12/2021</p>
						{# <a href="#" class="btn btn-black">En savoir plus</a> #}
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
						</svg>

					</div>
				</div>
			</div>
			<div class="card d">
				<div class="content">
					<div class="text">
						<h3 tabindex="0">Lancement de la plateforme</h3>
						<p>Découvrez comment notre nouvelle plateforme peut aider les entreprises à trouver les talents dont elles ont besoin.</p>
					</div>
					<div class="info">
						<p>12/12/2021</p>
						{# <a href="#" class="btn btn-black">En savoir plus</a> #}
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"/>
						</svg>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
