<section class="ly rassurance">
    <div class="container">
        <div class="listing">
            <div class="directeur">
                <div>
                    <span>+6 ans</span>
                    <p>Directeur d'école</p>
                </div>
                {% include "img_webp.twig" with {
                    url: site.theme.path ~ '/images/icons/user-group.png', 
                } %}
            </div>
            <div class="audit">
                <span>Audit</span>
                <p>Gratuit</p>
            </div>
            <div class="prestataire">
                <span>+500</span>
                <p>prestataire</p>
            </div>
            <div class="experience">
                <span>+14 ans</span>
                <p>d'expérience</p>
            </div>
        </div>
    </div>
</section>