{% extends 'base.twig' %}
{% block content %}

	<main class="view {{ body_class }}" data-barba="container" data-barba-namespace="single-actu">

		<section class="ly single-content">
			<div
				class="container ">
				{# {{page.thumbnail}} #}
				<div class="content-container">
					<div class="content-section">
						{{ page.content_output }}
					</div>
				</div>
			</div>
		</section>

		{% set datas = page.get_field('news') %}
		{% if datas.display and posts_associes|length > 0 %}
			{% include 's-news.twig' with {datas : datas, posts : posts_associes, class : 'single-related'} %}
		{% endif %}
	</main>

{% endblock content %}
