{% extends 'base.twig' %}
{% block content %}

<div data-barba="wrapper">
    <main class="view {{ body_class }}" data-barba="container" data-barba-namespace="home" data-scroll-container>
    {% include "banner.twig" %}
        {# <div style="height: 25vh;">
            <div>
                <h1>Hello 👋</h1>
            </div>
            <div class="test-loco">
                <h2>Valeur scroll loco speed :</h2>
                <div class="items">
                    <p data-scroll data-scroll-speed="-.1">-.1</p>
                    <p data-scroll data-scroll-speed="0">0</p>
                    <p data-scroll data-scroll-speed=".5">.5</p>
                    <p data-scroll data-scroll-speed=".2">.2</p>
                </div>
            </div> 
        </div>
        <section class="locomtiv ly" data-scroll data-scroll-speed="0">
            <div class="container">
                {% include "img_webp.twig" with { 
                        url: site.theme.path ~ '/images/theme.jpg', 
                        width : 350,
                        para: 'yeukou' } %}
            </div>
            <div class="container">
                {% include "img_webp.twig" with { 
                        url: site.theme.path ~ '/images/theme.jpg', 
                        width : 350,
                        para: 'yeukou' } %}
            </div>
        </section>
        {# Exemple grid, initaliser le parent avec ly pour lui mettre la grid puis mettre un container #}
        {# <section class="ly"> 
            <div class="container grid">
            {# Si on veut utiliser les colonnes il faut mettre la classe grid avec container, 
            on peut faire start des elements avec ws-5, pour commencer a la colonne 5 
                <div class="w-12">50%</div>
                <div class="w-12">50%</div>
            </div>
        </section>  #}
    </main>
</div>

{% endblock %}
