{% extends 'base.twig' %}
{% block content %}

	<div data-barba="wrapper">
		<main class="view {{ body_class }}" data-barba="container" data-barba-namespace="home" data-scroll-container>
			{% include "banner.twig" %}
			{% include "about.twig" %}
			{% include "abonnements.twig" %}
			{% include "news.twig" %}
			{% include "home_contact.twig" %}
		</main>
	</div>

{% endblock %}
