{% extends 'base.twig' %}
{% block content %}

	<div data-barba="wrapper">
		<main class="view {{ body_class }}" data-barba="container" data-barba-namespace="single-abonnement" data-scroll-container>
            <section class="ly single-offre">
                <div class="container">
                    Single single-abonnement
                </div>
            </section>
		</main>
	</div>

{% endblock %}
